In [1]:
import numpy as np
import pandas as pd

1. Write a Pandas program to display the default index and set a column as an Index in a given dataframe.

In [2]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Default Index:")
print(df.head(10))
print("\nschool_code as new Index:")
df1 =df.set_index("school_code")
print(df1)
print("\nt_id as new Index:")
df2 = df.set_index("t_id")
print(df2)

Default Index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

school_code as new Index:
            class            name date_Of_Birth  weight  address t_id
school_code
s001            V  Alberto Franco    15/05/2002      35  street1   t1
s002            V    Gino Mcneill    17/05/2002      32  street2   t2
s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
s002            V    Gino Mcneill    11/05/2002      31  street2   t5
s004           VI    David Parkes    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4

2. Write a Pandas program to create a multi Index frame using two columns and using an Index and a column.

In [3]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Original DataFrame:")
print(df)
print("\nMultiIndex using columns 't_id' and 'school_code':")
df1 = df.set_index(['t_id', 'school_code'])
print(df1)

Original DataFrame:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

MultiIndex using columns 't_id' and 'school_code':
                 class            name date_Of_Birth  weight  address
t_id school_code
t1   s001            V  Alberto Franco    15/05/2002      35  street1
t2   s002            V    Gino Mcneill    17/05/2002      32  street2
t3   s003           VI     Ryan Parkes    16/02/1999      33  street3
t4   s001           VI    Eesha Hinton    25/09/1998      30  street1
t5   s002            V    Gino Mcneill    11/05/2002      31  street2
t6   s004           VI    David Parkes    15/09/1997      32  street4

3. Write a Pandas program to display the default index and set a column as an Index in a given dataframe and then reset the index.

In [4]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Default Index:")
print(df.head(10))
print("\nt_id as new Index:")
df1 = df.set_index("t_id")
print(df1)
print("\nReset the index:")
df2 = df1.reset_index(inplace=False)
print(df2)

Default Index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4

Reset the index:
  t_id school_code class            name date_Of_Birth  weight  address
0   t1        s001     V  Alberto Franco    15/05/2002      35  street1
1   t2        s002     V    Gino Mcneill    17/05/2002      32  street2
2   t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
3   t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
4   t5        s002     V    Gino Mcneill    11/05/2002      31  street2
5   t6        s004    VI    David Parkes    15/09/1997      32  street4

4. Write a Pandas program to create an index labels by using 64-bit integers, using floating-point numbers in a given dataframe.

In [5]:
df_i64 = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=[1, 2, 3, 4, 5, 6])
print(df_i64)
print("\nView the Index:")
print(df_i64.index)

print("\nFloating-point labels using Float64Index:")
df_f64 = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=[.1, .2, .3, .4, .5, .6])
print(df_f64)
print("\nView the Index:")
print(df_f64.index)

  school_code class            name date_Of_Birth  weight  address
1        s001     V  Alberto Franco    15/05/2002      35  street1
2        s002     V    Gino Mcneill    17/05/2002      32  street2
3        s003    VI     Ryan Parkes    16/02/1999      33  street3
4        s001    VI    Eesha Hinton    25/09/1998      30  street1
5        s002     V    Gino Mcneill    11/05/2002      31  street2
6        s004    VI    David Parkes    15/09/1997      32  street4

View the Index:
Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

Floating-point labels using Float64Index:
    school_code class            name date_Of_Birth   weight  address
0.1        s001     V  Alberto Franco     15/05/2002      35  street1
0.2        s002     V    Gino Mcneill     17/05/2002      32  street2
0.3        s003    VI     Ryan Parkes     16/02/1999      33  street3
0.4        s001    VI    Eesha Hinton     25/09/1998      30  street1
0.5        s002     V    Gino Mcneill     11/05/2002      31  street2
0.6        s004    VI    David Parkes     15/09/1997      32  street4

View the Index:
Float64Index([0.1, 0.2, 0.3, 0.4, 0.5, 0.6], dtype='float64')

5. Write a Pandas program to create a DataFrame using intervals as an index.

In [6]:
print("Create an Interval Index using IntervalIndex.from_breaks:")
df_interval = pd.DataFrame({"X":[1, 2, 3, 4, 5, 6, 7]},
                            index = pd.IntervalIndex.from_breaks(
                            [0, 0.5, 1.0, 1.5, 2.0, 2.5, 3, 3.5]))    
print(df_interval)
print(df_interval.index)

print("\nCreate an Interval Index using IntervalIndex.from_tuples:")
df_interval = pd.DataFrame({"X":[1, 2, 3, 4, 5, 6, 7]},             
                            index = pd.IntervalIndex.from_tuples(
                            [(0, .5), (.5, 1), (1, 1.5), (1.5, 2), (2, 2.5), (2.5, 3), (3, 3.5)]))
print(df_interval)
print(df_interval.index)

print("\nCreate an Interval Index using IntervalIndex.from_arrays:")
df_interval = pd.DataFrame({"X":[1, 2, 3, 4, 5, 6, 7]},             
                            index = pd.IntervalIndex.from_arrays(
                            [0, .5, 1, 1.5, 2, 2.5, 3], [.5, 1, 1.5, 2, 2.5, 3, 3.5]))
print(df_interval)
print(df_interval.index)

Create an Interval Index using IntervalIndex.from_breaks:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]], dtype='interval[float64, right]')

Create an Interval Index using IntervalIndex.from_tuples:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]], dtype='interval[float64, right]')

Create an Interval Index using IntervalIndex.from_arrays:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]], dtype='interval[float64, right]')

6. Write a Pandas program to create a dataframe indexing by date and time.

In [ ]:
print("Create a dataframe, indexing by date and time:")

dt_range = pd.date_range(start ='2020-05-12 07:10:10', freq ='S', periods = 10) 
df_dt = pd.DataFrame({"Sale_amt":[100, 110, 117, 150, 112, 99, 129, 135, 140, 150]},
                            index = dt_range)
print(df_dt)

7. Write a Pandas program to create a dataframe and set a title or name of the index column.

In [7]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
                                index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame:")
print(df)
df.index.name = 'Index_name'
print("\nSaid DataFrame with a title or name of the index column:")
print(df)

Original DataFrame:
   school_code class            name date_Of_Birth  weight  address
t1        s001     V  Alberto Franco    15/05/2002      35  street1
t2        s002     V    Gino Mcneill    17/05/2002      32  street2
t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
t5        s002     V    Gino Mcneill    11/05/2002      31  street2
t6        s004    VI    David Parkes    15/09/1997      32  street4

Said DataFrame with a title or name of the index column:
           school_code class            name date_Of_Birth  weight  address
Index_name
t1                s001     V  Alberto Franco    15/05/2002      35  street1
t2                s002     V    Gino Mcneill    17/05/2002      32  street2
t3                s003    VI     Ryan Parkes    16/02/1999      33  street3
t4                s001    VI    Eesha Hinton    25/09/1998      30  street1
t5                s002     V    Gino Mcneill    11/05/2002      31  street2
t6                s004    VI    David Parkes    15/09/1997      32  street4

8. Write a Pandas program to set value in a specific cell in a given dataframe using index.

In [8]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame:")
print(df)
print("\nSet school code 's004' to 's005':")
df.at["t6", "school_code"] = "s005"
print(df)
print("\nSet date_of_birth of 'Alberto Franco' to '16/05/2002':")
df.at['t1', 'date_of_birth'] = "16/05/2002"
print(df)

Original DataFrame:
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s004    VI    David Parkes    15/09/1997      32

Set school code 's004' to 's005':
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s005    VI    David Parkes    15/09/1997      32

Set date_of_birth of 'Alberto Franco' to '16/05/2002':
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    16/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s005    VI    David Parkes    15/09/1997      32

9. Write a Pandas program to convert index of a given dataframe into a column.

In [ ]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame:")
print(df)
print("\nConvert index of the said dataframe into a column:")
df.reset_index(level=0, inplace=True)
print(df)

10. Write a Pandas program to convert 1st and 3rd levels in the index into columns from a multiple level of index frame of a given dataframe.

In [ ]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    't_id': ['t1', 't2', 't3', 't4', 't5', 't6']})
print("Original DataFrame:")
print(df)
print("\nMultiIndex using columns 't_id', ‘school_code’ and 'class':")
df1 = df.set_index(['t_id', 'school_code', 'class'])
print(df1)
print("\nConvert 1st and 3rd levels in the index frame into columns:")
df2 = df1.reset_index(level=['t_id', 'class'])
print(df2)

11. Write a Pandas program to check if a specified value exists in single and multiple column index dataframe.

In [10]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame with single index:")
print(df)
print("\nCheck a value is exist in single column index dataframe:")
print('t1' in df.index)
print('t11' in df.index)
print("\nCreate MultiIndex using columns 't_id', ‘school_code’ and 'class':")
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    't_id': ['t1', 't2', 't3', 't4', 't5', 't6']})
df1 = df.set_index(['t_id', 'school_code', 'class'])
print(df1)
print("\nCheck a value is exist in multiple columns index dataframe:")
print('t4' in df1.index.levels[0])
print('t4' in df1.index.levels[1])
print('t4' in df1.index.levels[2])

Original DataFrame with single index:
   school_code class            name date_of_birth  weight
t1        s001     V  Alberto Franco    15/05/2002      35
t2        s002     V    Gino Mcneill    17/05/2002      32
t3        s003    VI     Ryan Parkes    16/02/1999      33
t4        s001    VI    Eesha Hinton    25/09/1998      30
t5        s002     V    Gino Mcneill    11/05/2002      31
t6        s004    VI    David Parkes    15/09/1997      32

Check a value is exist in single column index dataframe:
True
False

Create MultiIndex using columns 't_id', ‘school_code’ and 'class':
                                  name date_of_birth  weight
t_id school_code class
t1   s001        V      Alberto Franco    15/05/2002      35
t2   s002        V        Gino Mcneill    17/05/2002      32
t3   s003        VI        Ryan Parkes    16/02/1999      33
t4   s001        VI       Eesha Hinton    25/09/1998      30
t5   s002        V        Gino Mcneill    11/05/2002      31
t6   s004        VI       David Parkes    15/09/1997      32

Check a value is exist in multiple columns index dataframe:
True
False
False

12. Write a Pandas program to construct a series using the MultiIndex levels as the column and index.

13. Write a Pandas program to construct a DataFrame using the MultiIndex levels as the column and index.

19. Write a Pandas program to select a specific row of given series/dataframe by integer index.

In [11]:
ds = pd.Series([1,3,5,7,9,11,13,15], index=[0,1,2,3,4,5,7,8])
print("Original Series:")
print(ds)
print("\nPrint specified row from the said series using location based indexing:")
print("\nThird row:")
print(ds.iloc[[2]])
print("\nFifth row:")
print(ds.iloc[[4]])
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]
})

print("Original DataFrame with single index:")
print(df)
print("\nPrint specified row from the said DataFrame using location based indexing:")
print("\nThird row:")
print(df.iloc[[2]])
print("\nFifth row:")
print(df.iloc[[4]])

Original Series:
0     1
1     3
2     5
3     7
4     9
5    11
7    13
8    15
dtype: int64

Print specified row from the said series using location based indexing:

Third row:
2    5
dtype: int64

Fifth row:
4    9
dtype: int64
Original DataFrame with single index:
  school_code class            name date_of_birth  weight
0        s001     V  Alberto Franco    15/05/2002      35
1        s002     V    Gino Mcneill    17/05/2002      32
2        s003    VI     Ryan Parkes    16/02/1999      33
3        s001    VI    Eesha Hinton    25/09/1998      30
4        s002     V    Gino Mcneill    11/05/2002      31
5        s004    VI    David Parkes    15/09/1997      32

Print specified row from the said DataFrame using location based indexing:

Third row:
  school_code class         name date_of_birth  weight
2        s003    VI  Ryan Parkes    16/02/1999      33

Fifth row:
  school_code class          name date_of_birth  weight
4        s002     V  Gino Mcneill    11/05/2002      31

20. Write a Pandas program to find the indexes of rows of a specified value of a given column in a DataFrame.

In [12]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  [1, 2, 3, 4, 5, 6])
print("Original DataFrame with single index:")
print(df)
print("\nIndex of rows where specified column matches certain value:")
print(df.index[df["school_code"]=="s001"].tolist())

Original DataFrame with single index:
  school_code class            name date_of_birth  weight
1        s001     V  Alberto Franco    15/05/2002      35
2        s002     V    Gino Mcneill    17/05/2002      32
3        s003    VI     Ryan Parkes    16/02/1999      33
4        s001    VI    Eesha Hinton    25/09/1998      30
5        s002     V    Gino Mcneill    11/05/2002      31
6        s004    VI    David Parkes    15/09/1997      32

Index of rows where specified column matches certain value:
[1, 4]

22. Write a Pandas program to insert a column at a specific index in a given DataFrame.

In [15]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  [1, 2, 3, 4, 5, 6])
print("Original DataFrame with single index:")
print(df)
date_of_birth = ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997']  
idx = 3
print("\nInsert 'date_of_birth' column in 3rd position of the said DataFrame:")
df.insert(loc=idx, column='date_of_birth', value=date_of_birth)
print(df)

Original DataFrame with single index:
  school_code class            name  weight
1        s001     V  Alberto Franco      35
2        s002     V    Gino Mcneill      32
3        s003    VI     Ryan Parkes      33
4        s001    VI    Eesha Hinton      30
5        s002     V    Gino Mcneill      31
6        s004    VI    David Parkes      32

Insert 'date_of_birth' column in 3rd position of the said DataFrame:
  school_code class            name date_of_birth  weight
1        s001     V  Alberto Franco    15/05/2002      35
2        s002     V    Gino Mcneill    17/05/2002      32
3        s003    VI     Ryan Parkes    16/02/1999      33
4        s001    VI    Eesha Hinton    25/09/1998      30
5        s002     V    Gino Mcneill    11/05/2002      31
6        s004    VI    David Parkes    15/09/1997      32

23. Write a Pandas program to print a DataFrame without index.

In [16]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  [1, 2, 3, 4, 5, 6])
print("Original DataFrame with single index:")
print(df)
print("\nDataFrame without index:")
print(df.to_string(index=False))

Original DataFrame with single index:
  school_code class            name date_of_birth  weight
1        s001     V  Alberto Franco    15/05/2002      35
2        s002     V    Gino Mcneill    17/05/2002      32
3        s003    VI     Ryan Parkes    16/02/1999      33
4        s001    VI    Eesha Hinton    25/09/1998      30
5        s002     V    Gino Mcneill    11/05/2002      31
6        s004    VI    David Parkes    15/09/1997      32

DataFrame without index:
school_code class           name date_of_birth  weight
       s001     V Alberto Franco    15/05/2002      35
       s002     V   Gino Mcneill    17/05/2002      32
       s003    VI    Ryan Parkes    16/02/1999      33
       s001    VI   Eesha Hinton    25/09/1998      30
       s002     V   Gino Mcneill    11/05/2002      31
       s004    VI   David Parkes    15/09/1997      32

24. Write a Pandas program to find integer index of rows with missing data in a given dataframe.

In [ ]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, None, 33, 30, 31, None]},
     index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame:")
print(df)
index = df['weight'].index[df['weight'].apply(np.isnan)]
df_index = df.index.values.tolist()
print("\nInteger index of rows with missing data in 'weight' column of the said dataframe:")
print([df_index.index(i) for i in index])

25. Write a Pandas program to start index with different value rather than 0 in a given DataFrame.

In [17]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 37, 33, 30, 31, 32]})
     
print("Original DataFrame:")
print(df)
print("\nDefault Index Range:")
print(df.index)
df.index += 10
print("\nNew Index Range:")
print(df.index)
print("\nDataFrame with new index:")
print(df)

Original DataFrame:
  school_code class            name date_of_birth  weight
0        s001     V  Alberto Franco    15/05/2002      35
1        s002     V    Gino Mcneill    17/05/2002      37
2        s003    VI     Ryan Parkes    16/02/1999      33
3        s001    VI    Eesha Hinton    25/09/1998      30
4        s002     V    Gino Mcneill    11/05/2002      31
5        s004    VI    David Parkes    15/09/1997      32

Default Index Range:
RangeIndex(start=0, stop=6, step=1)

26. Write a Pandas program to select rows by filtering on one or more column(s) in a multi-index dataframe.

In [18]:
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 37, 33, 30, 31, 32],
    'tcode': ['t1', 't2', 't3', 't4', 't5', 't6']})    
print("Original DataFrame:")
print(df)
print("\nCreate MultiIndex on 'tcode' and 'school_code':")
df = df.set_index(['tcode', 'school_code'])
print(df)
print("\nSelect rows(s) from 'tcode' column:")
print(df.query("tcode == 't2'"))
print("\nSelect rows(s) from 'school_code' column:")
print(df.query("school_code == 's001'"))
print("\nSelect rows(s) from 'tcode' and 'scode' columns:")
print(df.query(("tcode == 't1'") and ("school_code == 's001'")))

Original DataFrame:
  school_code class            name date_of_birth  weight tcode
0        s001     V  Alberto Franco    15/05/2002      35    t1
1        s002     V    Gino Mcneill    17/05/2002      37    t2
2        s003    VI     Ryan Parkes    16/02/1999      33    t3
3        s001    VI    Eesha Hinton    25/09/1998      30    t4
4        s002     V    Gino Mcneill    11/05/2002      31    t5
5        s004    VI    David Parkes    15/09/1997      32    t6

Create MultiIndex on 'tcode' and 'school_code':
                  class            name date_of_birth  weight
tcode school_code
t1    s001            V  Alberto Franco    15/05/2002      35
t2    s002            V    Gino Mcneill    17/05/2002      37
t3    s003           VI     Ryan Parkes    16/02/1999      33
t4    s001           VI    Eesha Hinton    25/09/1998      30
t5    s002            V    Gino Mcneill    11/05/2002      31
t6    s004           VI    David Parkes    15/09/1997      32

Select rows(s) from 'tcode' column:
                  class          name date_of_birth  weight
tcode school_code
t2    s002            V  Gino Mcneill    17/05/2002      37

Select rows(s) from 'school_code' column:
                  class            name date_of_birth  weight
tcode school_code
t1    s001            V  Alberto Franco    15/05/2002      35
t4    s001           VI    Eesha Hinton    25/09/1998      30

Select rows(s) from 'tcode' and 'scode' columns:
                  class            name date_of_birth  weight
tcode school_code
t1    s001            V  Alberto Franco    15/05/2002      35
t4    s001           VI    Eesha Hinton    25/09/1998      30